.__box_usuario .card-image img {
    /* height: 380px; */
    border-radius: 5px;
    transition: 0.5s all ease;
}

.__usuarios_disenio .card{
    border: 3px solid #019b7f;
}

#check_editar_rol, .roles_update {
    cursor: pointer;
}

/* diseño de los cards en movil */
@media screen and (max-width: 450px) {
    .card_movil .col-6{
        width: 100%;
    }     
} 